# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Explicitly call out files created by make cover even though it's covered by *.out
coverage.out
coverage-all.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/